<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- World frame -->
  <link name="world_link"/>

  <!-- World -> Base -->
  <joint name="world_to_base" type="fixed">
    <parent link="world_link"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Main rigid body -->
  <link name="base_link">

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.25653"/>
      <inertia 
      ixx="0.012363"
      ixy="3.3165e-05"
      ixz="5.60471e-05"
      iyy="0.0124502"
      iyz="-0.00031169"
      izz="0.0213427"
      />
    </inertial>

  </link>

  <!-- Base -> Visual body -->
  <joint name="base_to_body" type="fixed">
    <parent link="base_link"/>
    <child link="body_link"/>
    <origin xyz="-0.0653685 0.0328291 0" rpy="0 0 0"/>
  </joint>

</robot>